/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');

/* BODY STYLE */
body{
  background-image: linear-gradient(to right, rgba(73, 57, 3, 0.5), rgba(73,57,3,0.4) ), url("https://i.pinimg.com/originals/ea/89/d2/ea89d29167d075558fa9490d2d7ffab4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Uchen', serif;
  font-size: 1rem;
  text-transform: capitalize;
  height: 100vh;
}

/* NAVBAR STYLE */
.navbar {
  background-color: rgba(73, 57, 3, 0.5);
}

.navbar-toggler-icon{
  color: #fff;
}
.navbar.active{
  background-color: rgba(73, 57, 3);
}
.navbar-brand{
  color: #fff;
  font-family: 'Festive', cursive;
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
}
.navbar-brand:hover{
  color: #fff;
}

.navbar-brand i{
  color: #f5be0880;
  font-size: 3rem;
  padding-right: 1rem;
}

.github{
  color: #fff;
  font-size: 1.5rem;
  padding-right: 3rem;
}

/* MAIN CONTENT STYLE */
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
.card .card-header{
  font-family: 'Otomanopee One', sans-serif;
  font-size: 1.2rem;
}

.card{
  width: 100%;
  margin-bottom: 50px;
  transition: 0.3s;
  top: 2rem;
  background-color: rgba(17, 17, 16, 0.75);
  color: #fff;
}

.card i{
  color: #f5be0880;
  font-size: 1rem;
  padding: 2px;
}

.card-text a{
  color: #fff;
  text-decoration: none;
}

.card-text a:hover{
  border-bottom: 2px solid #fff ;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.card-footer i{
  padding-right: 5px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1000px) {
  .card {
    margin-left: 20px;
    width: 80%;
  }
}

@media screen and (max-width: 620px) {
  .card {
    margin-left: 25px;
    width: 80%;
  }
}

